go 1.21.6

use (
	./problems/001.twoSum
	./problems/002.addTwoNumbers
	./problems/003.longestSubstringWithoutRepeatingCharacters
	./problems/004.medianOfTwoSortedArrays
	./problems/005.longestPalindromicSubstring
)
