go 1.21.6

use (
	./problems/001.twoSum
	./problems/002.addTwoNumbers
	./problems/003.longestSubstringWithoutRepeatingCharacters
	./problems/004.medianOfTwoSortedArrays
	./problems/005.longestPalindromicSubstring
	./problems/006.zigzagConversion
	./problems/007.reverseInteger
	./problems/011.containerWithMostWater
	./problems/012.integerToRoman
	./problems/015.3Sum
	./problems/016.3SumClosest
	./problems/029.divideTwoIntegers
)
